<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @client_product.product_id %>
</p>

<p>
  <strong>Client:</strong>
  <%= @client_product.client_id %>
</p>

<%= link_to 'Edit', edit_client_product_path(@client_product) %> |
<%= link_to 'Back', client_products_path %>
