<%= form_with(model: threading, local: true) do |form| %>
  <% if threading.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(threading.errors.count, "error") %> prohibited this threading from being saved:</h2>

      <ul>
      <% threading.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id %>
    <%= form.number_field :id, id: :threading_id %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.number_field :value, id: :threading_value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
