<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @threadofe.id %>
</p>

<p>
  <strong>Value:</strong>
  <%= @threadofe.value %>
</p>

<%= link_to 'Edit', edit_threadofe_path(@threadofe) %> |
<%= link_to 'Back', threadoves_path %>
