<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @cinema.location %>
</p>

<p>
  <strong>Cinema:</strong>
  <%= @cinema.cinema_id %>
</p>

<%= link_to 'Edit', edit_cinema_path(@cinema) %> |
<%= link_to 'Back', cinemas_path %>
